/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200;400;600&family=Newsreader:ital,opsz,wght@0,6..72,200;0,6..72,400;1,6..72,600&family=Noto+Serif:ital,wght@1,200;1,400;1,600&family=Playfair+Display:ital,wght@1,400;1,600&family=Roboto+Condensed:wght@100;300;500;700&display=swap');

/* --- RESET --- */
*{
    box-sizing: border-box;
}
html {
  font-family: 'Inter Tight', sans-serif;
  font-family: 'Newsreader', serif;
  font-family: 'Noto Serif', serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto Condensed', sans-serif;
}
body {
  margin: 0;
}
h1, p {
  margin-top: 0;
  margin-bottom: 0;
}
button {
  font-family: inherit;
  cursor: pointer;
}